## 2.2.1

en
conf t

interface range gi1-4,Loopback0
ip ospf 1 area 0
exit


router ospf 1
router-id 1.1.1.1
passive-interface gi4
exit

##2.4.2
interface gi3
ip ospf cost 2


##2.21 

interface gi2
ip ospf priority 1
exit
