en
conf


router ospf 1
    router-id 4.4.4.4
    passive-interface gi5

exit
end

show ip protocol

conf
    int range gi1
        ip ospf 1 area 0
        exit
    int gi2
        ip ospf 1 area 0
        exit
    int gi3
        ip ospf 1 area 0
        exit
    int gi4
        ip ospf 1 area 4
        exit
    int gi5
        ip ospf 1 area 0
        exit
    


##2.4.2
interface gi 1
ip ospf cost 2

#for totaly nssa
conf
    router ospf 1
        area 4 nssa no-summary
        area 4 nssa translate type7 always
        